[package]
authors = ["Walther Chen <walther.chen@gmail.com>", "Daniel Brotsky <dev@brotsky.com>"]
description = "Cross-platform library for managing passwords/credentials"
homepage = "https://github.com/hwchen/keyring-rs"
keywords = ["password", "credential", "keychain", "keyring", "cross-platform"]
license = "MIT OR Apache-2.0"
name = "keyring"
repository = "https://github.com/hwchen/keyring-rs.git"
version = "2.0.0-beta.1"
edition = "2021"
exclude = [".github/"]

[features]
default = ["linux-secret-service"]
linux-secret-service = ["secret-service"]
# TODO: change for v3
#linux-secret-service = ["linux-secret-service-rt-async-io-crypto-rust"]
#linux-secret-service-rt-async-io-crypto-rust = ["secret-service/rt-async-io-crypto-rust"]
#linux-secret-service-rt-tokio-crypto-rust = ["secret-service/rt-tokio-crypto-rust"]
#linux-secret-service-rt-async-io-crypto-openssl = ["secret-service/rt-async-io-crypto-openssl"]
#linux-secret-service-rt-tokio-crypto-openssl = ["secret-service/rt-tokio-crypto-openssl"]
linux-no-secret-service = ["linux-default-keyutils"]
linux-default-keyutils = []

[dependencies]
lazy_static = "1"

[target.'cfg(target_os = "macos")'.dependencies]
security-framework = "2.6"

[target.'cfg(target_os = "ios")'.dependencies]
security-framework = "2.6"

[target.'cfg(target_os = "linux")'.dependencies]
# TODO: switch when v3 is released
secret-service = { version = "2", optional = true }
#secret-service = { git = "https://github.com/hwchen/secret-service-rs.git", version = "3", optional = true }
linux-keyutils = { version = "0.2", features = ["std"] }

[target.'cfg(target_os = "windows")'.dependencies]
byteorder = "1.2"
winapi = { version =  "0.3", features = ["wincred", "winerror", "errhandlingapi", "minwindef"] }

[[example]]
name = "iostest"
path = "examples/ios.rs"
crate-type = ["staticlib"]

[dev-dependencies]
clap = { version = "4", features = ["derive", "wrap_help"] }
rpassword = "7.0"
rand = "0.8"
doc-comment = "0.3"
whoami = "1.2"
