[package]
authors = ["Walther Chen <walther.chen@gmail.com>"]
description = "Cross-platform library for managing passwords"
homepage = "https://github.com/hwchen/keyring-rs.git"
keywords = ["password", "cross-platform", "keychain", "keyring"]
license = "MIT OR Apache-2.0"
name = "keyring"
repository = "https://github.com/hwchen/keyring-rs.git"
version = "0.10.3"
edition = "2018"

[target.'cfg(target_os = "macos")'.dependencies]
security-framework = "2.4.2"

[target.'cfg(target_os = "linux")'.dependencies]
secret-service = "2.0.1"

[target.'cfg(target_os = "windows")'.dependencies]
byteorder = "1.2.1"
winapi = { version =  "0.3", features = ["wincred", "minwindef"] }

[dev-dependencies]
clap = "2.33"
rpassword = "5.0"
rand = "0.8.4"
serial_test = "0.5.1"

[target.'cfg(target_os = "macos")'.dev-dependencies]
tempfile = "3.1.0"
